/* Component CSS */
app-card,
:host {
  position: relative;
  width: 133px;
  height: 166px;
  perspective: 1000px;
}

.card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

app-card.is-flipped .card-inner,
:host(.is-flipped) .card-inner,
:host(.active) .card-inner {
  border: 3px solid #000;
  transform: rotateY(-180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: linear-gradient(to bottom right, #ff4b2b, #ffb16c);
}

.card-back {
  background: linear-gradient(to bottom right, #2b32b2, #415cff);
  color: #fff;
  transform: rotateY(180deg);
}
