.text-center {
  text-align: center;
}

.text-large {
  font-size: 44px;
}

// Card Flip Source
// https://uiverse.io/joe-watson-sbf/little-goat-24

.flip-card,
:host(.flip-card) {
  background-color: transparent;
  width: 100px;
  height: 133px;
  perspective: 1000px;
  font-family: sans-serif;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

:host(.flip-card.is-flipped .flip-card-inner),
.flip-card.is-flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  border: 1px solid coral;
  border-radius: 0.5rem;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-front {
  background: linear-gradient(
    120deg,
    bisque 60%,
    rgb(255, 231, 222) 88%,
    rgb(255, 211, 195) 40%,
    rgba(255, 127, 80, 0.603) 48%
  );
  color: coral;
  transform: rotateY(180deg);
}

.flip-card-back {
  background: linear-gradient(
    120deg,
    rgb(255, 174, 145) 30%,
    coral 88%,
    bisque 40%,
    rgb(255, 185, 160) 78%
  );
  color: white;
}
