<div class="max-w-3xl mx-auto px-4 lg:h-screen flex flex-col justify-center">
  <!-- <app-controls class="ml-auto mr-16"></app-controls> -->
  <div
    class="relative inline-block p-5 border-2 border-white rounded-lg shadow-lg m-5 lg:-mt-12 mb-16 transform -rotate-3 bg-gradient-to-br from-yellow-300 to-blue-300">
    <h1 class="font-mg text-white text-center text-2xl m-0">Memory Game</h1>
  </div>

  <div class="prose">
    <h1> The Memory Game </h1>
    Think you have a good memory? Play the memory game and find out.

    Look for matching pictures by clicking and flipping the cards
    If the images don't match, they'll be flipped over again.
    If you find a match, you'll hear a chime and see an effect.
    Find all the matching images to win the game!

    START
    <a [routerLink]="'/game'">Goto game</a>
  </div>
</div>
