<div class="flex justify-center gap-4">
  <button *ngIf="!isGameStarted && showHighScoresButton"
    class="bg-[var(--component-background)] text-[var(--component-text)] py-2 px-4 rounded-md shadow-lg bounce-button"
    (click)="toggleHighScores()">{{ boardOverlayShow ? 'Close High Scores' : 'Show High Scores' }}</button>
  <button *ngIf="!isGameStarted && showInstructionsButton"
    class="bg-[var(--component-background)] text-[var(--component-text)] py-2 px-4 rounded-md shadow-lg bounce-button"
    (click)="toggleInstructions()">{{ boardOverlayShow ? 'Close Instructions' : 'Show Instructions' }}</button>

  <button *ngIf="!isGameStarted" (click)="startGame()"
    class="bg-[var(--button-background)] text-[var(--button-text)] py-2 px-4 rounded-md shadow-lg bounce-button">Start
    Game</button>
  <button *ngIf="isGameStarted" (click)="endGame()"
    class="bg-[var(--button-background)] text-[var(--button-text)] py-2 px-4 rounded-md shadow-lg bounce-button">
    End Game</button>
</div>
