.text-center {
  text-align: center;
}

.text-large {
  font-size: 44px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

// Card Flip Source
// https://uiverse.io/joe-watson-sbf/little-goat-24

.flip-card,
:host(.flip-card) {
  font-family: Courier, monospace;
  background-color: transparent;
  width: 133px;
  height: 133px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

:host(.flip-card.is-flipped .flip-card-inner),
.flip-card.is-flipped .flip-card-inner {
  transform: rotateY(180deg);
}

:host {
  --border-color: #ff4500; /* orangeRed */
  --shadow-color: rgba(0, 0, 0, 0.2);
  --background-color-1: #ffffff; /* white */
  --background-color-2: #87cefa; /* light sky blue */
  --background-color-3: #87cefa; /* light sky blue */
  --background-color-4: #ffffff; /* white */
  --text-color: rgba(0, 0, 0, 1); /* semi-transparent black */
  --back-background-color-1: #ffeb3b; /* yellow */
  --back-background-color-2: #ffcc80; /* light orange */
  --back-background-color-3: #ffb74d; /* darker orange */
  --back-background-color-4: rgba(255, 165, 0, 0.6);
  --back-text-color: rgba(0, 0, 0, 1); /* black */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 0 8px 14px 0 var(--shadow-color);
}

.flip-card-front {
  background: linear-gradient(
    120deg,
    var(--background-color-1) 0%,
    var(--background-color-2) 100%
  );
  color: var(--text-color);
  transform: rotateY(180deg);
  cursor: not-allowed;
}

.flip-card-back {
  background: linear-gradient(
    120deg,
    var(--back-background-color-1) 60%,
    var(--back-background-color-2) 88%,
    var(--back-background-color-3) 40%,
    var(--back-background-color-4) 48%
  );
  color: var(--back-text-color);
  cursor: pointer;
}
