<div *ngIf="gameState$ | async as gameState"
  class="score-board bg-gradient-to-r flex-grow flex-wrap from-pink-300 via-purple-300 to-purple-400 py-2 px-4 rounded-xl shadow-md flex justify-center mb-8 text-white font-bold">
  <div class="score-item px-4 text-xl text-center w-full md:w-1/4">Moves: {{ gameState.stats.moves }}</div>
  <div class="score-item px-4 text-xl text-center w-full md:w-1/4">Matches: {{ gameState.stats.matches }}/16</div>
  <div class="score-item px-4 text-xl text-center w-full md:w-1/4" id="timer">Time: 00:00</div>
  <div class="score-item px-4 text-xl text-center w-full md:w-1/4">Score: {{ gameState.stats.score }}</div>
</div>
