@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Machine Gunk";
  src: url("./assets/fonts/MachineGunk.woff2") format("woff2"),
    url("./assets/fonts/MachineGunk.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-mg {
  font-size: 64px;
  font-family: "Machine Gunk";
}

:root {
  --background-gradient-start: #f0e68c; /* Light sandy color */
  --background-gradient-middle: #87cefa; /* Sky blue color */
  --background-gradient-end: #4682b4; /* Deeper sky blue */
  --card-front-start: #ffecd2;
  --card-front-end: #fcb69f;
  --card-back-start: #d1c4e9;
  --card-back-end: #b39ddb;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --contrast-color: #e74c3c; /* Pop of contrast: bright red */
}

.theme-beach {
  --background-gradient-start: #f0e68c; /* Light sandy color */
  --background-gradient-middle: #87cefa; /* Sky blue color */
  --background-gradient-end: #4682b4; /* Deeper sky blue */
  --card-front-start: #ffecd2;
  --card-front-end: #fcb69f;
  --card-back-start: #d1c4e9;
  --card-back-end: #b39ddb;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --contrast-color: #e74c3c; /* Pop of contrast: bright red */
}

body {
  background: linear-gradient(to bottom right, var(--background-gradient-start), var(--background-gradient-middle), var(--background-gradient-end));
  transition: background 0.5s ease;
  position: relative;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
